/* Your most basic reset and base styles*/
* {
    padding:0;
    margin:0
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    height: 60px;
    background-color: #cc0000;    
    color: white;
    display: flex;
    justify-content: space-between;
}

footer {
    height: 30px;
    background-color: #FCEA4C;;    
    color: rgb(66, 56, 34);
    text-align: center;
    opacity:.9
    
}
footer p {
    padding-top:5px;
    display: block
}

/* Navigation Styles */

.nav {
    position: relative;
}

.nav-button {
    padding: 10px 20px; 
}

.nav-list {
    background-color:#ff6666; 
    position: absolute;   
    display: none;
    z-index: 999;     
}

.nav:hover .nav-list{
    display: block    
}

.nav-list ul li {
    list-style-type: none;    
}

.nav-list ul li a:link, .nav-list ul li a:visited{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 10px;
}

.nav-list ul li a:hover, .nav-list ul li a:active{
    text-decoration: none;
    display: block;
    background-color:#cc0000;
    padding: 20px 10px;
}

.bar {
    width: 35px;
    height:5px;
    background-color:white;
    margin:6px 0;
}

.logo {
    width: 200px;    
}

.heading {
    margin: 10px auto;
    padding-top: 20px;
    text-align:center;
}

/* Form styles */

#loginForm {
    display:block
}

form {
    display:block;    
    margin: auto;
}
.form-label {
    display:block;    
    margin-top: 20px;
    margin-bottom:-20px;
}

.form-submit {
    display:block;
    margin-top: 20px;
    background-color: #cc0000;
    color: white;

}



.form-submit:hover {
    
    background-color: #ff1f02fa;
    box-shadow: 0 1px 2px #ffe366;    
    transition: 0.3s ease-in-out;

    /* transition: .3s */
}

input {
    padding:10px 20px;
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
        
}
input:focus {
    outline: none;
    border:2px solid #ff6666
}
/* Tab Styles */

.tab {
    overflow:hidden;
    border:1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
   
    
}

.tab button {
    
    background-color: inherit;    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size:16px;    
}
.right-corner {
    border-top-right-radius: 10px;
}
.left-corner {
    border-top-left-radius: 10px;
}
.tab button:hover {
    background-color: #ff6666;
    color:#ddd;
}
.tab button.active {
    background-color: #cc0000;
    color:white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top:none;
    
}

.tablinks {
    flex-grow:1;
}

/* Menu Styles */

.menu {    
    width:50%;    
}

.menu-item {
    border: 1px solid #ccc;
    background-color: rgb(255, 207, 179);
    opacity: 1;
    transition:.3s;
    border-radius: 3px;
    margin-left:5px;
    margin-bottom: 5px;
    width:30%;
    display:inline-block;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
}

.menu-item:hover {
    background-color: rgb(248, 172, 129);        
    box-shadow: 10 10px 10px rgba(156, 57, 0, 0.596), 10 10px 20px rgba(224, 14, 14, 0.671);    

}

.menu-item:active {
    background-color: rgb(255, 179, 155);        
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.144), 0 1px 2px rgba(0, 0, 0, 0.459);    

}

.menu-text, .menu-price {
    text-align: center;
}

.menu-img {
    width:100px;
    margin: auto;
}

.row {
    display: flex;
    padding: 20px;
    padding-bottom:40px;
}
.order {    
    margin-left: 20px;
    border: 1px solid #ccc;
    width:40%;
    position: relative;    
    min-height: 100px;
    background-color: rgb(255, 207, 179);
}

.order-heading {
    background-color: #cc0000;    
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}

.order-heading small {
    color:white;
    cursor: pointer;
}

.order-heading small:hover {
    color:yellow;    
}
.order-item {
    padding: 10px;
}
 .order li {
     list-style-type: none;
     padding: 5px;
     margin-bottom: 5px;
     display:block;
     font-weight: 900

 }

 .place-order-button button{
    width: 100%;    
    position: absolute;
    bottom: 0;
    background-color: #FCEA4C;  
    border: 1px solid #FCEA4C;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size:16px;
    color: gray; 
 }

 .place-order-button button:hover {
     background-color: #FFF18D;
     border: 1px solid #FFF18D;
     color: gray;
 }
 
 .place-order-button button:active {
    background-color: rgb(255, 50, 50);
    border: 1px solid rgb(255, 50, 50);
    color: white;
}



 .spacer {    
     height: 50px;
 }

 .container {
     padding:20px;
 }

 /* Table styles */

 .table table, .modal-table{
     border: 1px solid #ccc;
     border-collapse: collapse;
     width: 100%;     
 }

 .table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
 }

 .table tr:nth-child(even) {
     background-color: #ddd;
 }

 .narrow {
     width:10%;
 }

 .table h3{
     padding: 5px;     
 }

 .table p {
     padding-left:5px;
     padding-bottom: 10px;
 }

.order-button {     
     padding: 5px;
     margin-right: 10px;
     border-radius: 5px;
     width: 40%;      
 }

 .back {
    border: 1px solid blue;
    background-color: rgb(126, 159, 243);
    margin: 10px;
}

.back:hover {
    border: 1px solid blue;
    background-color: blue;
    color:white;
}


 .complete {
     border: 1px solid green;
     background-color: rgb(174, 248, 176);
 }

 .complete:hover {
    border: 1px solid green;
    background-color:green;    
    color:white; 
}

.accept {
    border: 1px solid rgb(182, 83, 3);
    background-color: rgb(255, 208, 106);
}

.accept:hover {
    border: 1px solid rgb(255, 203, 61);
    background-color: rgb(255, 203, 61);
    color:white;
}

 .decline {
    border: 1px solid rgb(128, 0, 11);
    background-color: rgb(255, 92, 100);
 }

 .decline:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
 }

 .undo {
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(233, 233, 233);
 }

 .undo:hover{
    border: 1px solid rgb(83, 83, 83);
    background-color: rgb(83, 83, 83);
    color: white;
 }

 .add {
     width:100%;
     border: 1px solid rgb(131, 131, 131);
    background-color: rgb(233, 233, 233);
 }

 .add:hover{
    border: 1px solid rgb(83, 83, 83);
    background-color: rgb(83, 83, 83);
    color: white;
 }

 .add-form {    
    padding: 6px 12px;
    border: 1px solid #ccc;  
    
}

.viewport {
    min-height: calc(100vh - 130px);
}

.flex {
    display:flex;
    justify-content: space-around
}

/* Modal styles */

.modal {
    z-index: 1000;
    border: solid 1px black;
    position: absolute;
    left: 50px;
    right: 50px;
    top:50px;
    min-height: 200px;    
    width: 70%;
    margin: auto;     
    display: none;
    transition:.3s;
    background-color:white;
}

.modal-content, .modal-content table{
    width: 95%;
    margin:10px auto;
    text-align: center;

}

.close {
    float: right;
    padding-right: 5px;
    font-size: 2em;
    cursor: pointer
}

#success-message , #fail-message, #login-fail, #login-success,
#signUp-success, #signUp-fail, #signUp-empty, #signUp-duplicate, #history-error, #admin-error, 
#add-success, #add-fail, #admin-link{
    display:none;
}

#success-message p, #login-success p, #signUp-success p, #add-success p{
    color:green;
}

#fail-message p, #login-fail p, #signUp-fail p, #signUp-empty p, #signUp-duplicate p, #history-error p, #admin-error p, #add-fail p{
    color:red;
}

.welcome {
    padding-bottom: 10px;
    display: block;
}



/* Media queries */

@media screen and (min-width: 814px) {   
    body{
        background-image: url('../img/blur-burger-close-up-460599.jpg');
        background-repeat: no-repeat;
        background-size:100%;
        background-attachment: fixed 
    }
    .main {
        border:1px solid #ccc;
        width: 80%;
        margin:20px auto;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        min-height: 400px;
        background-color: white;
        opacity:.8;

            
    }

    .menu-item {
        background-color: rgb(255, 207, 179);
    }
    
}

@media screen and (max-width:814px) {   
  
    .menu-item {          
        width: 100%;
        background-color:white;
    }
    .order {
        background-color:white;
    }
    
}




 





